<h2>Menu</h2>
<ul class="pizzas">
  <li *ngFor="let pizza of pizzas" (click)="onSelect(pizza)">
    {{pizza.name}}
  </li>
</ul>
<div class="allSizes">
  <div class="size">
    <input type="radio" name="pizzaSize" [value]="regularPrice" (change)="onSelectedRadioChange(regularPrice)" />
    <label>Regular (9")</label>
  </div>
  <div class="size">
    <input type="radio" name="pizzaSize" [value]="familyPrice" (change)="onSelectedRadioChange(familyPrice)" />
    <label>Family (12")</label>
  </div>
  <div class="size">
    <input type="radio" name="pizzaSize" [value]="partyPrice" (change)="onSelectedRadioChange(partyPrice)" />
    <label>Party (14")</label>
  </div>
</div>
